.btn
{
display: flex;
gap: 30px;
justify-content: end;
}

.btnText {
position: absolute;
top:7.95rem;
margin:8px  20px;
line-height:36px;
padding:0px 24px;
background-color: #ff0000;

color: #fff;
border: none;
border-radius: 8px;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.5px;
cursor: pointer;

}

