

<h1 class="stringInterpolation">{{strMessage}}</h1>
<div class="row">
    <div class="col-md-6">
   <p class="p01">
    Hello, I'm {{person1.fname}} {{person1.lname}}, a {{person1.age}}-year-old Software Engineer from {{person1.city}} working at {{person1.company}}.
   I have {{person1.experience}} years of experience and my favorite programming language is {{person1.favLang}}.
   I love {{person1.hobby}} and I have a pet {{person1.petType}} named {{person1.petName}}.
   </p>
    </div>
    
    
    <div class="col-md-6">
        <p class="p02">
            Hi, I'm {{person2.studentName}}, a class {{person2.grade}} student from {{person2.school}}, {{person2.city}}.
            My favorite subject is {{person2.favSubject}} and my best friend is {{person2.bestFriend}}.
            I love playing {{person2.favSport}} and one day I want to become a {{person2.dream}}.
        </p>
    </div>


    <div class="col-md-6">
  <p class="p03">
    {{gadget.owner}} recently bought an {{gadget.model}} ({{gadget.color}}, {{gadget.storage}}) by {{gadget.brand}}.
    It comes with a {{gadget.camera}} camera and runs on {{gadget.os}}.
    The device cost him ₹{{gadget.price}} and has a warranty of {{gadget.warranty}}.
  </p>
  
</div>

  <div class="col-md-6">
  <p class="p04">
    I recently watched {{movie.movieName}} ({{movie.releaseYear}}), directed by {{movie.director}}.<br>
    {{movie.actor}} gave an amazing performance in this {{movie.genre}} thriller.<br>
    My favorite scene was the {{movie.favScene}}, and I’d rate the movie {{movie.rating}}/10.
  </p>
</div>


<div class="col-md-6">
  <p class="p05">
    {{traveler.traveler}} visited {{traveler.country}} for {{traveler.days}} days 
    and stayed in {{traveler.city}} at {{traveler.stayHotel}}.<br>
    She traveled by {{traveler.travelMode}} and spent around {{traveler.spent}}.<br>
    Her favorite spot was {{traveler.favPlace}}, and she loved trying authentic {{traveler.localFood}}.
  </p>
</div>



<div class="col-md-6">
  <p class="p06">
    {{player.playerName}} scored a brilliant {{player.runs}} off {{player.balls}} balls 
    against {{player.opponent}} in the {{player.matchType}}.<br>
    The match was held at {{player.venue}} and {{player.result}}.<br>
    His strike rate was an impressive {{player.strikeRate}}.
  </p>
</div>


<div class="col-md-6">
  <p class="p07">
    {{bookData.book}} is a {{bookData.genre}} novel written by {{bookData.author}}.<br>
    It was published in {{bookData.published}} by {{bookData.published}} and set in {{bookData.setting}}.<br>
    The book has sold over {{bookData.copiesSold}} copies worldwide.
  </p>
</div>


<div class="col-md-6">
  <p class="p08">
    {{shopData.shopName}}, owned by {{shopData.owner}}, is located in {{shopData.location}} and has been running since {{shopData.foundedYear}}.<br>
    The shop is open from {{shopData.openTime}} to {{shopData.closeTime}} and employs {{shopData.employees}} people.<br>
    Their best-selling product is {{shopData.bestSelling}} and the store rating is {{shopData.rating}}.
  </p>
</div>


<div class="col-md-6">
  <p class="p09">
    {{trainerData.trainer}} is a professional fitness trainer at {{trainerData.gymName}}, {{trainerData.location}}.<br>
    With {{trainerData.experience}} years of experience, she specializes in {{trainerData.specialization}}.<br>
    The gym operates from {{trainerData.timing}} and currently serves over {{trainerData.clients}} clients.
  </p>
</div>



<div class="col-md-6">
  <p class="p10">
    {{restaurantData.restaurant}} is a popular {{restaurantData.cuisine}} restaurant located in {{restaurantData.location}}, established in {{restaurantData.established}}.<br>
    Chef {{restaurantData.chef}} is known for his signature dish — {{restaurantData.signatureDish}}.<br>
    The restaurant has {{restaurantData.branches}} branches and maintains an impressive rating of {{restaurantData.rating}}.
  </p>
</div>




<div class="col-md-6">
  <p class="p11">
    {{concertData.singer}} performed live in {{concertData.location}} on {{concertData.date}} during the {{concertData.concertName}}.<br>
    The concert was organized by {{concertData.organizer}} and lasted {{concertData.duration}}.<br>
    Over {{concertData.crowd | number}} fans attended, and ticket prices started at ₹{{concertData.ticketPrice}}.
  </p>
</div>



<div class="col-md-6">
  <p class="p12">
    {{carData.owner}} recently bought a {{carData.carBrand}} {{carData.model}} in {{carData.color}} color.<br>
    It offers a range of {{carData.range}} with a {{carData.battery}} battery.<br>
    The car costs around {{carData.price}} and can reach a top speed of {{carData.topSpeed}}.
  </p>
</div>

</div>

 