
<div class="row mt-5">
<div class="col-md-4">
  
<div class="form-group">
<input type="text" class="form-control" #fname placeholder="Enter Name" (input)="0">
</div>
<div class="form-group">
<input type="text" class="form-control" #lname placeholder="Enter Lname"  (input)="0">
</div>

<div class="form-group">
<input type="text" class="form-control" #email placeholder="Enter Email" (input)="0">
</div>

<div class="form-group">
<input type="text" class="form-control" #contact placeholder="Enter Contact" (input)="0">
</div>

<!-- <button
 (click)="addStd()" mat-raised-button color="primary" *ngIf="!isEdit">Add Student</button> -->


<button
  mat-raised-button
  color="primary"
  (click)="addStd()"
  *ngIf="!isEdit"
  [disabled]="!fname.value || !lname.value || !email.value || !contact.value"
>
  Add Student </button>

<button (click)="onUpdate()" mat-raised-button color="primary" *ngIf="isEdit">Update Student</button>

 <button (click)="onCancel()"  *ngIf="isEdit" mat-button color="accent"   class=" btnText">Cancel</button>


</div>



  <div class="col-md-8">
   <div class="table-responsive">
    <table class="table table-bordered text-center">
    <thead>
    <tr>
    <th>SR No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>EditInfo</th>
    <th>Delete</th>
    </tr>
    </thead>

    
    <tbody>
    <tr  *ngFor="let std of stdArr; let i = index">
    <th>{{i+1}}</th>
    <th>{{std.fname}} {{std.lname}}</th>
    <th>{{std.email}}</th>
    <th>{{std.contact}}</th>
    <th><button (click)="onEdit(std)"  mat-raised-button color="primary">Edit</button></th>
    <th><button  (click)="onDelete(std.stdId)" mat-raised-button color="warn">Delete</button></th>
    </tr>
    </tbody>

    </table>
   </div>
  </div>


</div>