.btnText {
position: absolute;
bottom: 1rem;
margin:-16px  20px;
line-height:36px;
padding:0px 24px;
background-color: #ff0000;

color: #fff;
border: none;
border-radius: 8px;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.5px;
cursor: pointer;

}



@media(max-width:425px)
{
    button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary.mat-button-disabled {
    margin: 10px 0;
}

.col-md-4 {
    margin: 40px 0;
}
}